.html
*.pdf

private/*

*.swp
*.pyc
*.bak

doc/ppt/*
example_model_run/*

scripts/inputs/*
scripts/outputs/*

*.ipw
*.conf

*.xls
*.ppt*

doc/build/*
*inputs/*
*outputs/*
*ppt_desc
scripts/ppt_images_dist/*
ppt_images_dist/*

*.ppt*
scripts/gdal_metadata.py
scripts/my-model-run.py

examples/data/*
examples/*.png
*.tmp
examples/data*
*.csv
*.tif
*.txt
tdata

*.coverage

*.tar.gz
*.aux
*.log
*.rst
*.out
*.toc
*.bbl
*.blg
adaptors/minted
adaptors/test/data/in.000.modified
adaptors/test/data/snow.1345.rewrite
adaptors/test/data/tmp_write_reagg
adaptors/test/data/in.0000.modified
wcwave_adaptors/test/data/tmp_write_reagg
wcwave_adaptors/test/data/full_nc_example/ipw_from_nc
examples/temperature_experiment/data/
examples/temperature_experiment/*data
venv
*.nc
*.asc
deployment-config.json
