<!DOCTYPE html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Allerta' 
          rel='stylesheet' type='text/css'>
    <style>
    svg {
      display: block;
      margin: auto;
    }
    .box {
      display: block;
      margin: auto;
    }
    text {
      font-family: Allerta, sans-serif;  
    }
    .map_canvas {
      width: 250px;
      height: 250px;
    }
    </style>

    <title>Virtual Watershed Platform</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>    

  </head>
  <body>
  {% block content %}{% endblock %}
  </body>
</html>
