<!-- 
  In template call, we will have something like this where there will be
  an array of json representations of each model run description. Then we can
  for-loop over them, and creating a new block for each JSON that's there.
-->

{% extends "templates/base.html" %}
{% block content %}
  <h1 align="center"> Search Results! </h1>
  {% for run in model_runs %}
    <br><br>
    <div class="model_run_box">
      <svg class="box" width=810 height=610>
        <g id={{ run.model_run_uuid }}>
          <rect class="box" x="5" y="5" width="800" height="600"
            style="stroke: #000099;
                   fill: #3333ff;
                   fill-opacity: 0.5; 
              "
            />
            <text font-size="35" x="400" y="80" text-anchor="middle">
              {{ run.description }}
            </text>
            <text font-size="25" x="40" y="130" text-anchor="left">
              Contributed by: {{ run.researcher }}
            </text>
            <text font-size="25" x="40" y="180" text-anchor="left">
              Location: {{ run.location }}
            </text>
        </g>
      </svg>
    </div>
  {% endfor %}
{% endblock %}
